.banner {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  height: 85px;
  flex-wrap: wrap; /* add flex-wrap property to wrap elements onto multiple lines */
}

.banner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  height: 85px;
  width:100%;
  flex-wrap: wrap; /* add flex-wrap property to wrap elements onto multiple lines */
}

.user {
  margin-right: 8px;
  font-style: italic;
  color: #00b14a;
}

.banner_title {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  border-radius: 20px;
  padding-left: 5px;
  margin-left: 40px;
  height: 85px;
  flex-shrink: 0; /* add flex-shrink property to prevent logo from shrinking */
}

.banner_title > h1 {
  display: flex;
  /*font-family: cursive;*/
  font-style: italic;
  font-size: 2rem;
  color: #00b14a;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 10px;
  flex-shrink: 0; /* add flex-shrink property to prevent title from shrinking */
}

.banner_title > img {
  margin-right: 0px;
  width: 15em;
  height: 5em;
  border-radius: 20px;
}

.banner_right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding:0 10px;
  padding-left: 5px;
  flex-shrink: 0;
  
  
  

}

.banner_right > h2{
  color: #00b14a;
  font-style: italic;
  margin-right: 10px;
  font-size: 25px;
}


.banner_right .MuiAvatar-root {
  margin-right: 15px; /* add margin to the right of the Avatar */
  
}

.banner_right> .MuiAvatar-root:hover {
  transform: scale(2);
    opacity: 1;
}

.banner_right > button {
  display: flex;
  background-color: #00b14a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: Arial;
  font-weight: bold;
  height: 45px;
  width: 100px;
}

.banner_right > button:hover {
  background-color: #d32f2f;
}

.header_search {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  height: 30px;
  color: gray;
  background-color:#eef3f8;
  
}

.header_search > input {
  font-size: 18px;
  outline: none;
  border: none;
  background: none;
}

.header_search:hover {
  transform: scale(1.08);
  opacity: 1;
}

.banner_title:hover {
  transform: scale(1.08);
  opacity: 1;
}

.intro{
  display: flex;
  font-style: italic;
  font-size: 2rem;
  color: #00b14a;
  margin-top: 20px;
  margin-right: 320px;
}


.intro:hover{
  transform: scale(1.08);
  opacity: 1;
}