.banner {
  position: sticky;
  top: 0;
  z-index: 100;
}

.banner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}


.banner_title {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  border-radius: 20px;
  padding-left: 5px;
  margin-left: 40px;
}

.banner_title > h1 {
  display: flex;
  font-family: cursive;
  font-style: italic;
  font-size: 2rem;
  color: #00b14a;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 10px;
}

.banner_title > img {
  margin-right: 0px;
  width: 15em;
  height: 5em;
  border-radius: 20px;
}

.banner_right {
  margin-right: 20px;
}

.banner_right > button {
  display: flex;
  background-color: #00b14a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: Arial;
  font-weight: bold;
}

.banner_right > button:hover {
  background-color: #d32f2f;
}

.header_search {
  padding: 10px;
  
  display: flex;
  align-items: center;
  border-radius: 24px;
  height: 30px;
  color: gray;
  background-color:#eef3f8;
  margin-left: 50%;
}

.header_search > input {
  font-size: 18px;
  outline: none;
  border: none;
  background: none;
}

.header_search:hover {
  transform: scale(1.08);
  opacity: 1;
}

.banner_title:hover {
  transform: scale(1.08);
  opacity: 1;
}
